[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flair = {editable = true, path = "."}

[dev-packages]
pytest = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
