pytest>=7.0.0,!=7.2.0
mypy==0.982
pytest-mypy
pytest-isort
pytest-flake8
flake8<5.0.0
flake8-black
types-Deprecated
types-dataclasses
types-tabulate
types-requests
pytest-github-actions-annotate-failures
konoha<5.0.0,>=4.0.0
pre-commit
