torch==1.0.0
gensim==3.4.0
typing==3.6.4
pytest==3.6.4
tqdm==4.26.0
segtok==1.5.7
matplotlib==3.0.0
mpld3==0.3
sklearn
sqlitedict==1.6.0
deprecated==1.2.4
hyperopt==0.1.1
pytorch-pretrained-bert==0.4.0