python-dateutil>=2.6.1
torch>=1.5.0,!=1.8
gensim>=3.4.0
tqdm>=4.26.0
segtok>=1.5.7
matplotlib>=2.2.3
mpld3==0.3
scikit-learn>=0.21.3
sqlitedict>=1.6.0
deprecated>=1.2.4
hyperopt>=0.2.7
transformers>=4.0.0
bpemb>=0.3.2
regex
tabulate
langdetect
lxml
ftfy
sentencepiece==0.1.95
konoha<5.0.0,>=4.0.0
janome
gdown==3.12.2
huggingface-hub
conllu>=4.0
more-itertools~=8.8.0
wikipedia-api
pptree
