python-dateutil>=2.6.1
torch>=1.1.0
gensim>=3.4.0
pytest>=5.3.2
tqdm>=4.26.0
segtok>=1.5.7
matplotlib>=2.2.3
mpld3==0.3
scikit-learn>=0.21.3
sqlitedict>=1.6.0
deprecated>=1.2.4
hyperopt>=0.1.1
transformers>=3.0.0
bpemb>=0.3.2
regex
tabulate
langdetect
sentencepiece!=0.1.92