.bd-footer {
    border: none;
    background: var(--blue-orange);
    height: var(--footer-height);
    display: flex;
    align-items: center;
    *::selection {
        background: var(--white-blue);
        color: var(--flair-orange);
    }
    .bd-footer__inner {
        padding: 0 10%;
        width: 100%;
        max-width: initial;
        margin: 0;
        box-sizing: border-box;
        .footer-item * {
            color: white;
        }
        a:hover {
            color: var(--orange-blue);
        }
        .footer-items__end {
            display: flex;
            flex-direction: row;
            .footer-item:not(:last-of-type) {
                margin-right: 3rem;
            }
        }
    }
}