.bd-header {
    width: 100%;
    height: var(--header-height);
    background: var(--flair-orange) !important;
    box-shadow: none;
    .bd-header__inner {
        margin: 0 10%;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .navbar-header-items__start {
            padding: 0;
            height: 55%;
            .navbar-item {
                height: 100%;
                .navbar-brand.logo {
                    height: 100%;
                    padding: 0;
                    display: block;
                    .logo__image {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        nav {
            height: 100%;
            ul.bd-navbar-elements {
                display: flex;
                height: 100%;
                li.nav-item {
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-right: 0;
                    margin-left: 3rem;
                    a {
                        font-size: 1.1rem;
                        padding: 0;
                        color: white;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}