.bd-header {
    width: 100%;
    height: var(--header-height);
    background: var(--flair-orange) !important;
    box-shadow: none;
    *::selection {
        background: var(--white-blue);
        color: var(--flair-orange);
    }
    .bd-header__inner {
        margin: 0 10%;
        padding: 0;
        height: 100%;
        width: 100%;
        max-width: initial;
        display: flex;
        justify-content: space-between;
        .navbar-header-items__start {
            padding: 0;
            height: 55%;
            .navbar-item {
                height: 100%;
                .navbar-brand.logo {
                    height: 100%;
                    padding: 0;
                    display: block;
                    .logo__image {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        nav {
            height: 100%;
            ul.bd-navbar-elements {
                display: flex;
                height: 100%;
                li.nav-item {
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-right: 0;
                    margin-left: 3rem;

                    &.active a {
                        font-weight: inherit;
                        &::after {
                            width: 100%;
                        }
                    }
                    a {
                        position: relative;
                        font-size: 1.1rem;
                        padding: 0;
                        color: white;
                        &:hover {
                            color: white;
                            &::after {
                                width: 100%;
                            }
                        }
                        &::after {
                        	transition: width 200ms cubic-bezier(0,.35,.08,.89);
                            content: "";
                            width: 0;
                            height: 2px;
                            background-color: white;
                            position: absolute;
                            bottom: -.5rem;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
        .navbar-header-items__end {
            .navbar-item:not(:last-of-type) {
                margin-right: 2rem;
            }
            svg {
                height: 35%;
                width: auto;
            }
        }
    }
}

.search-button__wrapper.show {
    .search-button__overlay {
        background: var(--flair-blue);
    }
    form.bd-search {
        i {
            display: none;
        }
        input {
            border: 2px var(--flair-orange) solid;
            color: var(--flair-blue);
            box-shadow: none;
            padding: .25em 5.5em .25em .75em;
            border-radius: 1rem;
            font-size: 1.2rem;
        }
        .search-button__kbd-shortcut {
            align-items: center;
        }
    }
}

.fill-white-blue {
	fill: var(--white-blue);
	stroke: none;
}

.fill-orange {
	fill: var(--flair-orange);
	stroke: none;
}

.stroke-moon {
	stroke: white;
	fill: none;
}

button.search-button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    height: 1.85rem;
    width: 1.85rem;
    i {
        visibility: hidden;
        &:focus, &, &:active {
            border: none;
            outline: none;
        }
    }
}

.sidebar-toggle {
    span {
        color: white;
        font-size: 2rem;
        margin-right: 1rem;
    }
}

.dark-mode-toggle svg {
    cursor: pointer;
    &:first-of-type {
        :root .dark-mode & {
            display: none;
        }
    }
    &:nth-of-type(2) {
        display: none;
        :root .dark-mode & {
            display: block;
        }
    }
}

@media screen and (max-width: 1250px) {
    .bd-header {
        .bd-header__inner {
            nav {
                ul.bd-navbar-elements {
                    li.nav-item {
                        margin-left: 2rem;
                    }
                }
            }
            .navbar-header-items__end {
                .navbar-item:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }
        }
    }
}


@media screen and (max-width: 959px) {
    .bd-sidebar-primary.bd-sidebar {
        width: 100vw !important;
        background: var(--flair-orange) !important;
        height: calc(100vh - var(--header-height));
        max-width: initial !important;
        display: block;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        .sidebar-header-items {
            flex-direction: row;
            max-width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            .sidebar-header-items__title, .nav-item .nav-link {
                color: white;
            }
            padding: 10vw 10vw 5vw 10vw !important;
        }
        .sidebar-primary-items__start {
            padding: 5vw 10vw 10vw 10vw !important;
            border-top: 2px solid white;
        }
        .sidebar-header-items__end {
            gap: 0;
        }
        .current {
            color: var(--flair-blue) !important;
        }
        a:hover {
            color: var(--flair-blue) !important;
        }
        * {
            color: white !important;
        }
    }
}
