.bd-main .bd-content .bd-article-container{
    max-width: initial;
    padding: 4rem 30% 4rem 5rem;
    box-sizing: border-box;
}

.bd-main .bd-content .bd-article-container .bd-article {
    padding: 0;
    h1 {
        font-size: 3rem;
        color: var(--blue-white);
        font-weight: 600;
        margin-top: 0.5em;
    }
    h2 {
        font-size: 1.6rem;
        color: var(--blue-white);
        font-weight: 600;
        margin-top: 2em;
    }
    p {
        color: var(--blue-white);
        margin: 0.4em 0 0.9em 0;
    }
    .highlight-python {
        .highlight {
            background: transparent;
            pre {
                padding: 1.1em 1.5em;
                border-radius: 1rem;
                background: var(--gray-dark-blue);
                .nn, .n {
                    color: var(--blue-white);
                }
                .c1 {
                    color: #999;
                    :root .dark-mode & {
                        color: #696991;
                    }
                }
            }
        }
    }
}

.header-article-items.header-article__inner {
    padding: 0;
}

ul.bd-breadcrumbs {
    li.breadcrumb-home .fa-home {
        &::before {
            content: "Home";
            font-family: "Afacad", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: var(--blue-white);
        }
    }
    li.breadcrumb-item:not(.breadcrumb-home) {
        &::before {
            content: "";
            width: 1px;
            height: 1rem;
            background: white;
            display: inline-block;
            padding: 0;
            transform: rotate(30deg);
            margin: 0 .6rem;
        }
        a {
            color: var(--blue-white);
            font-size: 1rem;
            font-weight: 400;
        }
        &.active {
            color: var(--blue-white);
            font-size: 1rem;
            font-weight: 400;
        }
    }
}