.bd-main .bd-content .bd-article-container{
    max-width: initial;
    padding: 4rem 30% 4rem 5rem;
    box-sizing: border-box;
}

.bd-main .bd-content .bd-article-container .bd-article {
    padding: 0;
    .headerlink {
        display: none;
    }
    h1 {
        font-size: 3rem;
        color: var(--blue-white);
        font-weight: 600;
        margin-top: 0.5em;
    }
    h2 {
        font-size: 1.6rem;
        color: var(--blue-white);
        font-weight: 600;
        margin-top: 2em;
    }
    h3 {
        font-size: 1.2rem;
        color: var(--blue-white);
        font-weight: 600;
        margin-top: 2em;
    }
    p {
        color: var(--blue-white);
        margin: 0.4em 0 0.9em 0;
    }
    ul {
        list-style-type: "»";
        margin-left: .6em;
        li {
            padding-left: .3em;
        }
        ::marker {
            color: var(--blue-white);
            font-size: inherit;
        }
    }
    .highlight-python {
        .highlight {
            background: transparent;
            pre {
                font-family: "Source Code Pro", monospace;
                padding: 1.1em 1.5em;
                border-radius: 1rem;
                background: var(--gray-dark-blue);
                .nn, .n, .o, .p, .kp {
                    color: var(--blue-white);
                }
                .kn, .k, .ow, .kc {
                    color: #CF8E6D;
                }
                .nb {
                    color: #8888C6;
                }
                .nf {
                    color: #56A8F5;
                }
                .c1 {
                    color: #7A7E85;
                }
                .s1, .s2, .sa, .si {
                    color : #6AAB73;
                }
                .mi, .mf {
                    color: #2AACB8;
                }
            }
        }
    }
    [class^="highlight-"]:not(.highlight-python) {
        * {
            color: var(--blue-white);
        }
        .highlight {
            background: transparent;
        }
        pre {
            font-family: "Source Code Pro", monospace;
            border-radius: 1rem;
            padding: 1.1em 1.5em;
            background: var(--gray-dark-blue);
            color: var(--blue-white);
            .go {
                font-size: inherit;
                padding-right: 1.1em;
            }
        }
    }
    .admonition, div.admonition, .admonition.note, div.admonition.note {
        box-shadow: none !important;
        background: linear-gradient(180deg, var(--flair-orange) 0, var(--flair-orange) 2rem, var(--white-blue) 2rem, var(--white-blue) 100%);
        border: 2px var(--flair-orange) solid;
        border-radius: 1rem;
        padding: 0;
        box-sizing: border-box;
        p.admonition-title {
            background: var(--flair-orange);
            border-radius: 0 0 1rem 1rem;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0.5em 2.2em;
            position: relative;
            line-height: 1em;
            &::before {
                content: none;
            }
            &::after {
                color: white;
                margin-left: 0.4em;
                font-size: 0.9em;
            }
        }
        p:not(.admonition-title) {
            padding: 0.5em 2.2em 0.25em 3.3em;
        }
        [class^="highlight-"] {
            margin-bottom: 0.7rem;
        }
    }
}

.header-article-items.header-article__inner {
    padding: 0;
}

ul.bd-breadcrumbs {
    li.breadcrumb-home .fa-home {
        &::before {
            content: "Home";
            font-family: "Afacad", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: var(--blue-white);
            transition: color 200ms ease-in-out;
        }
    }
    li.breadcrumb-home a:hover .fa-home::before {
        color: var(--flair-orange);
    }
    li.breadcrumb-item:not(.breadcrumb-home) {
        &::before {
            content: "";
            width: 1px;
            height: 1rem;
            background: var(--blue-white);
            display: inline-block;
            padding: 0;
            transform: rotate(30deg);
            margin: 0 .6rem;
        }
        a {
            color: var(--blue-white);
            font-size: 1rem;
            font-weight: 400;
            &:hover {
                color: var(--flair-orange);
            }
        }
        &.active {
            color: var(--blue-white);
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

table.table {border-collapse: collapse;
    border-radius: 1rem;
    box-shadow: 0 0 0 2px var(--blue-white);
    tr {
        &:not(:last-of-type), &:has(th) {
            border-bottom: 2px var(--blue-white) solid;
        }
        th {
            font-weight: 600;
        }
        th, td {
            padding: .4em .2em 0 .2em;
            &:first-of-type {
                padding-left: .5em;
            }
            &:last-of-type {
                padding-right: .5em;
            }
        }
    }
}

.docutils, .docutils.literal {
    border: none;
    background: transparent;
    border-radius: 0.5em;
    font-weight: 400;
    font-family: "Source Code Pro", monospace;
    font-size: 0.8em;
    color: var(--blue-white);
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        width: 100%;
        height: 90%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 0.5em;
        border: 2px var(--blue-white) solid;
        position: absolute;
    }
}
.reference {
    .docutils, .docutils.literal {
        transition: color 200ms ease-in-out;
        &:hover {
            &::before {
                background: var(--flair-orange);
            }
            color: white;
        }
        &::before {
            z-index: -1;
            border-color: var(--flair-orange);
            transition: background-color 200ms ease-in-out;
        }
    }
}

#flair-tutorials, #api-docs, #contributing, [id^="tutorial"], [id^="flair"] {
    li {
        list-style-type: "»";
        padding-left: 0.25em;
        margin-top: .5em;
        ::marker {
            color: var(--blue-white);
            font-size: 1.2rem;
        }
    }
    .toctree-wrapper li[class^="toctree-l"] {
        margin-top: .5em;
        &::marker {
            font-size: 1.2rem;
        }
        & > a {
            font-size: 1.2rem;
        }
    }
    .docutils:not(.py) {
        color: var(--flair-orange);
        &:hover {
            color: var(--flair-orange-light);
        }
        &::before {
            content: none;
        }
        .pre {
            font-family: "Afacad", sans-serif;
            text-overflow: ellipsis;
            font-size: 1.2rem;
        }
    }
}