.landing-page {
    color: var(--background-theme);
    .banner {
        display: flex;
        height: 510px;
        background: var(--flair-orange);
        .left-side {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            width: 50%;
            padding-left: 10%;
            padding-right: 10%;
            box-sizing: border-box;
            svg {
                height: 20%;
                width: auto;
            }
            & > span {
                font-size: 1.5rem;
                margin: 1.3em 0;
                line-height: 1.2em;
                color: var(--background-theme);
            }
            #get-started {
                background: var(--background-theme);
                border: none;
                padding: 0.3em 0.9em;
                font-size: 1.5rem;
                color: var(--background-theme-inv);
                font-weight: 600;
                border-radius: .5em;
                transition: transform 200ms cubic-bezier(0,.35,.08,.89);
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .right-side {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            .card {
                border-radius: 1rem;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: transform 200ms cubic-bezier(0,.35,.08,.89);
                &:hover {
                    transform: scale(1.1);
                }
                svg {
                    height: 40%;
                    width: auto;
                }
                & > span {
                    color: var(--flair-blue);
                    margin-top: 1em;
                }
                background: var(--background-theme);
                color: var(--background-theme-inv);
                height: 40%;
            }
        }
    }
    .st0 {
        fill: var(--flair-orange);
    }
    .st1 {
        fill: var(--background-theme);
    }
}