sphinx-github-style<=1.0.2  # 1.0.3 changes logic that breaks with sphinx-multiversion
sphinx-autodoc-typehints
myst-parser
sphinx
importlib-metadata
sphinx-multiversion
pydata-sphinx-theme<0.14
sphinx_design

# previous dependencies that are required to build docs for later versions too.
semver
gensim
bpemb